// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2019-2020 Variscite Ltd.
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mm-var-som.dtsi"

/ {
	model = "Variscite VAR-SOM-MX8M-MINI on Atolle AM2.0 board";
	compatible = "variscite,dart-mx8mm", "fsl,imx8mm";

	chosen {
		stdout-path = &uart4;
	};

	reg_usb_otg2_vbus: regulator-usb-otg2-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb_otg2_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	extcon_usb1: extcon_usb1 {
		compatible = "linux,extcon-usb-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_extcon>;
		id-gpio = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";

		led_red {
			label = "LED_RED";
			gpios = <&gpio1 00 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led_green {
			label = "LED_GREEN";
			gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led_blue {
			label = "LED_BLUE";
			gpios = <&gpio4 27 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	a53_opp_table: opp-table {
                opp-600000000 {
                        opp-hz = /bits/ 64 <600000000>;
                        opp-microvolt = <850000>;
                        opp-supported-hw = <0xe>, <0x7>;
                        clock-latency-ns = <150000>;
                        opp-suspend;
                };

                opp-800000000 {
                        opp-hz = /bits/ 64 <800000000>;
                        opp-microvolt = <850000>;
                        opp-supported-hw = <0xe>, <0x7>;
                        clock-latency-ns = <150000>;
                        opp-suspend;
                };

                opp-1000000000 {
                        opp-hz = /bits/ 64 <1000000000>;
                        opp-microvolt = <850000>;
                        opp-supported-hw = <0xe>, <0x7>;
                        clock-latency-ns = <150000>;
                        opp-suspend;
                };

                opp-1400000000 {
                        opp-hz = /bits/ 64 <1400000000>;
                        opp-microvolt = <850000>;
                        opp-supported-hw = <0xe>, <0x7>;
                        clock-latency-ns = <150000>;
                        opp-suspend;
                };
        };

	/delete-node/ thermal-zones;

	thermal-zones {
		cpu-thermal {
			polling-delay-passive = <250>;
			polling-delay = <2000>;
			thermal-sensors = <&tmu>;
			trips {
				cpu_alert0: trip0 {
					temperature = <79000>;
					hysteresis = <2000>;
					type = "passive";
				};
		
				cpu_alert1: trip1 {
					temperature = <82000>;
					hysteresis = <2000>;
					type = "passive";
				};
		
				cpu_alert2: trip2 {
					temperature = <85000>;
					hysteresis = <2000>;
					type = "passive";
				};
		
				cpu_alert3: trip3 {
					temperature = <88000>;
					hysteresis = <2000>;
					type = "passive";
				};
		
				cpu_alert4: trip4 {
					temperature = <91000>;
					hysteresis = <2000>;
					type = "passive";
				};
		
				cpu_crit0: trip5 {
					temperature = <95000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};
		
			cooling-maps {
			/* We have 7 OPPs of: 600MHz, 800MHz, 1GHz, 1.2GHz, 1.4GHz, 1.6GHz and 1.8GHz.
			   Minimum cooling state (0) includes all operating points, the maximum cooling
			   state (6) only includes the lowest operating point (600 MHz).
			*/
				map0 {
					// 79C trip: max OPP is at 1.6GHz (1)
					trip = <&cpu_alert0>;
					cooling-device =
						<&A53_0 THERMAL_NO_LIMIT 1>,
						<&A53_1 THERMAL_NO_LIMIT 1>,
						<&A53_2 THERMAL_NO_LIMIT 1>,
						<&A53_3 THERMAL_NO_LIMIT 1>;
				};
		
				map1 {
					// 82C trip: max OPP is at 1.2 GHz (3)
					trip = <&cpu_alert1>;
					cooling-device =
						<&A53_0 THERMAL_NO_LIMIT 3>,
						<&A53_1 THERMAL_NO_LIMIT 3>,
						<&A53_2 THERMAL_NO_LIMIT 3>,
						<&A53_3 THERMAL_NO_LIMIT 3>;
				};
				map2 {
					// 85C trip: max OPP is at 1.0GHz (4)
					trip = <&cpu_alert2>;
					cooling-device =
						<&A53_0 THERMAL_NO_LIMIT 4>,
						<&A53_1 THERMAL_NO_LIMIT 4>,
						<&A53_2 THERMAL_NO_LIMIT 4>,
						<&A53_3 THERMAL_NO_LIMIT 4>;
				};
				map3 {
					// 88C trip: max OPP is at 800 MHz (5)
					trip = <&cpu_alert3>;
					cooling-device =
						<&A53_0 THERMAL_NO_LIMIT 5>,
						<&A53_1 THERMAL_NO_LIMIT 5>,
						<&A53_2 THERMAL_NO_LIMIT 5>,
						<&A53_3 THERMAL_NO_LIMIT 5>;
				};
				map4 {
					// 91C trip: max OPP is at 600MHz (6)
					trip = <&cpu_alert4>;
					cooling-device =
						<&A53_0 THERMAL_NO_LIMIT 6>,
						<&A53_1 THERMAL_NO_LIMIT 6>,
						<&A53_2 THERMAL_NO_LIMIT 6>,
						<&A53_3 THERMAL_NO_LIMIT 6>;
				};
			};
		};
	};

};

&iomuxc {
	pinctrl_led: led_pin {
		/* Definition of the GPIOs connected to the LEDs on the adapter board,
		 for full overview of the description of the register values see the 
		 iMX8M Reference Manual. */
		fsl,pins = <
			/* Enable the pull resistor (bit 8) and set it to a
			 pull down (bit 6) */
			MX8MM_IOMUXC_GPIO1_IO00_GPIO1_IO0		0x100
			MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19		0x100
			MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27		0x100
		>;
	};

	pinctrl_imxrt_reset_n: imxrt_reset {
		fsl,pins = <
			/* Enable pull resistor (8) and set tp pull up (6) */
			MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1			0x140
    	>;
    };

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART3_RXD_UART3_DTE_TX		0x140
			MX8MM_IOMUXC_UART3_TXD_UART3_DTE_RX		0x140
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX		0x140
			MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX		0x140
		>;
	};

	pinctrl_extcon: extcongrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x16
		>;
	};
};

/* IMXRT UART */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
	/* Set the UART to Date Terminal Equipment mode */
	fsl,dte-mode;
};

/* DEBUG Console */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	hnp-disable;
	srp-disable;
	adp-disable;
	extcon = <0>, <&extcon_usb1>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	vbus-supply = <&reg_usb_otg2_vbus>;
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	disable-over-current;
	status = "okay";
};
